.forgotPasswordContainer {
    width: 100vw;
    min-height: 80vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    font-family: "Roboto";
}
  
.forgotPasswordBox {
    background-color: white;
    width: 25vw;
    height: 40vh;
    box-sizing: border-box;
    overflow: hidden;
}
  
.forgotPasswordHeading {
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 80%;
    margin: auto;
}
  
.forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
}
  
.forgotPasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
}
  
.forgotPasswordForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
}

  
.forgotPasswordBtn {
    border: none;
    background-color: #2874f0;
    color: white;
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}
  
.forgotPasswordBtn:hover {
    background-color: #508ae7;
}
  
@media screen and (max-width: 600px) {
    .forgotPasswordContainer {
      background-color: white;
    }
    .forgotPasswordBox {
      width: 100vw;
    }
  
    .forgotPasswordForm {
      padding: 5vmax;
    }
  
    .forgotPasswordForm > div > input {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }

    .forgotPasswordBtn {
      padding: 1.8vmax;
    }
}